<link rel="stylesheet" type="text/css" href="{$wa_app_static_url}plugins/pdd/css/control.css">
<link rel="stylesheet" type="text/css" href="{$wa_app_static_url}plugins/pdd/css/datatables.css">
<link rel="stylesheet" type="text/css" href="{$wa_app_static_url}plugins/pdd/css/select2.css">
<script type="text/javascript" src="{$wa_app_static_url}plugins/pdd/js/fsend.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/pdd/js/fsortable.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/pdd/js/gofileupload.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/pdd/js/bpopup.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/pdd/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/pdd/js/jquery.dataTables.reload.plugin.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/pdd/js/select2.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/pdd/js/select2_locale_ru.js"></script>
<style>
    .photo-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .pdd-certificate-item {
        width: 200px; 
        margin-bottom: 20px;
        border: 1px solid #ddd; 
        border-radius: 5px;
        overflow: hidden; 
        background-color: #fff;
    }
    .pdd-certificate-photo {
        width: 100%;
        height: 150px;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 5px; 
        border-top-right-radius: 5px;
    }

    .pdd-certificate-name {
        width: calc(100% - 24px); 
        margin: 10px; 
        border-radius: 0;
        margin-bottom: 5px;
        border: 1px solid;
        resize: none;
    }

    .pdd-certificate-text {
        width: calc(100% - 24px); 
        margin: 10px; 
        border-radius: 0;
        margin-bottom: 5px;
        resize: none;
    }

    .pdd-certificate-bnts {
        margin: 0px 10px 0px 10px;
        width: calc(100% - 15px);
        height: 30px;
        align-items: end;
        flex-direction: column;
        margin-bottom: 10px;
        position: relative;
    }
    .pdd-certificate-delete {
        cursor: pointer;
    }

    .pdd-certificate-update {
        position: relative;
        right: -45px;
        background-color: green;
        color: white;
        font-size: 12px;
        border: none;
        border-radius: 0;
        padding: 6px;
        width: 90px;
    }
    .pdd-certificate {
        position: relative;
        right: -45px;
        font-size: 12px;
        padding: 6px;
        width: 90px;
    }
    .file-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .showcase-name {
        font-weight: bold;
    }
    .file-name {
        margin-top: 7px;
    }
    
    td.actions {
        white-space: nowrap;
    }
</style>
<div class="sidebar pdd-sidebar" style="width: 200px;">
    <div>
		<h5 class="heading">Категории</h5>
		<ul class="pdd-menu menu-v with-icons">
            <li class="selected" data-block="catalogs"><a> <i class="icon16 folder"></i>Каталоги</a></li>
            <li data-block="prices"><a><i class="icon16 dollar"></i>Прайс-листы</a></li>
            <li data-block="certificates"><a><i class="icon16 edit"></i>Сертификаты</a></li>
		</ul>
	</div>
</div>
<div class="pdd-popup-cnt content left250px">
    <div class="pdd-set-blocks mt15 double-padded">

        <div class="pdd-set-block" data-block="catalogs">
            <form class="pdd_file_upload_form" action="?plugin=pdd&module=file&action=upload" method="POST" enctype="multipart/form-data">
                <div class="l-dropbox">
                    <a class="l-fileinput-button">
                        <i class="icon16 upload"></i> Перетащите файл 
                        <input type="file" name="files[]" multiple="">
                        <input type="hidden" name="product_id" value="{$product_id|escape}">
                        <input type="hidden" name="type" value="catalogs">
                    </a>
                    <span class="gray">или просто перетащите их сюда, чтобы начать загрузку</span>
                </div>
                {$wa->csrf()}
                <div class="dialog width500px height400px" id="l_upload_notification">
                    <div class="dialog-background"></div>
                    <div class="dialog-window">
                        <div class="l-upload-list"></div>
                        <div class="dialog-buttons">
                            <div class="block float-right" style="padding-top: 22px;">
                                <a href="#" class="l-cancel hint cancel">Отмена</a>
                            </div>
                            <div style="display:none; padding-top: 25px;" class="l-upload-errors block errormsg">
                                Некоторые файлы загружены с ошибками
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="pdd-dt-wrap">
                <table class="pdd-catalogs-table zebra mt15" data-Url="?plugin=pdd&module=file&action=listCatalogs">
                    <thead>
                        <tr>
                            <th >Имя файла</th>
                            <th width="1"></th>
                            <th width="1"></th>
                            <th width="1"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="pdd-set-block" data-block="prices" style="display: none;">

            <form class="pdd_file_upload_form" action="?plugin=pdd&module=file&action=upload" method="POST" enctype="multipart/form-data">
                <div class="l-dropbox">
                    <a class="l-fileinput-button">
                        <i class="icon16 upload"></i> Перетащите файл 
                        <input type="file" name="files[]" multiple="">
                        <input type="hidden" name="product_id" value="{$product_id|escape}">
                        <input type="hidden" name="type" value="prices">
                    </a>
                    <span class="gray">или просто перетащите их сюда, чтобы начать загрузку</span>
                </div>
                {$wa->csrf()}
                <div class="dialog width500px height400px" id="l_upload_notification">
                    <div class="dialog-background"></div>
                    <div class="dialog-window">
                        <div class="l-upload-list"></div>
                        <div class="dialog-buttons">
                            <div class="block float-right" style="padding-top: 22px;">
                                <a href="#" class="l-cancel hint cancel">Отмена</a>
                            </div>
                            <div style="display:none; padding-top: 25px;" class="l-upload-errors block errormsg">
                                Некоторые файлы загружены с ошибками
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="pdd-dt-wrap">
                <table class="pdd-prices-table zebra mt15" data-Url="?plugin=pdd&module=file&action=listPrices">
                    <thead>
                        <tr>
                            <th >Имя файла</th>
                            <th width="1"></th>
                            <th width="1"></th>
                            <th width="1"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        
        <div class="pdd-set-block" data-block="certificates" style="display: none;">
                <form class="pdd_file_upload_form" action="?plugin=pdd&module=certificate&action=upload" method="POST" enctype="multipart/form-data">
                <div class="l-dropbox">
                    <a class="l-fileinput-button">
                        <i class="icon16 upload"></i> Перетащите фото
                        <input type="file" name="files[]" multiple="">
                        <input type="hidden" name="product_id" value="{$product_id|escape}">
                    </a>
                    <span class="gray">или просто перетащите их сюда, чтобы начать загрузку</span>
                </div>
                {$wa->csrf()}
                <div class="dialog width500px height400px" id="l_upload_notification">
                    <div class="dialog-background"></div>
                    <div class="dialog-window">
                        <div class="l-upload-list"></div>
                        <div class="dialog-buttons">
                            <div class="block float-right" style="padding-top: 22px;">
                                <a href="#" class="l-cancel hint cancel">Отмена</a>
                            </div>
                            <div style="display:none; padding-top: 25px;" class="l-upload-errors block errormsg">
                                Некоторые файлы загружены с ошибками
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div id="photo-container" class="photo-container"></div>
        </div>
        
         

    </div>
</div>



{literal}
<script type="text/javascript">
    (function($) {
        $.pddProduct = {
            id: null,
            menu: null,
            set_id: null,
            product_id: null,
            blocks: null,
            uploadForm: null,
            popup: null,

           
            catalogsTable: null,
			catalogsContainer: null,
			catalogsTableUrl: null,

            pricesTable: null,
            pricesTableContainer: null,
            pricesTableUrl: null,

            
            iconCatalogsEditClass: null,
            iconCatalogsDeleteClass: null,

            iconPricesEditClass: null,
            iconPricesDeleteClass: null,

            iconCertificateEditClass: null,
            iconCertificateDeleteClass: null,


           
            init: function() {
                let self = this;
                this.product_id = $("input[name='product_id']").val();

                this.menu = $('.pdd-menu');
                this.blocks = $('.pdd-set-block');
                this.uploadForm = $('.pdd_file_upload_form');

                this.popup = $('.pdd-popup');
                
                this.catalogsTableContainer = $('.pdd-catalogs-table');
				this.catalogsTableUrl = this.catalogsTableContainer.attr('data-url');

                this.pricesTableContainer = $('.pdd-prices-table');
				this.pricesTableUrl = this.pricesTableContainer.attr('data-url');

                this.iconCatalogsEditClass = '.pdd-catalogs-edit';
				this.iconCatalogsDeleteClass = '.pdd-catalogs-delete';

                this.iconPricesEditClass = '.pdd-prices-edit';
				this.iconPricesDeleteClass = '.pdd-prices-delete';

                this.iconCertificateEditClass = '.pdd-certificate-edit';
				this.iconCertificateDeleteClass = '.pdd-certificate-delete';

                this.initMenu();
                this.initForm();
                this.initCatalogsTable();
                this.initPricesTable();

                this.initPhotoContainer();
                this.initDeleteBtn();
            },

			initForm: function() {
                var self = this;

                this.uploadForm.each((i, elem) => {
                    $(elem).goFileUpload(function(jData) {
                        self.catalogsTable.fnReloadAjax();
                        self.pricesTable.fnReloadAjax();
                        self.initPhotoContainer();
				    });
                });
            },
           
           initMenu: function() {
            
                this.menu.on('click', (e) => {
                    if($(e.target.parentNode).hasClass('selected')) {
                        return;
                    }
                    else {
                        
                        this.menu.children().each(function(item){
                            
                            $(this).removeClass('selected');
                        });
                        $(e.target.parentNode).addClass('selected');

                        this.blocks.each(function(item){
                            $(this).hide();
                        });

                        this.blocks.each(function(item){
                            if($(this).attr('data-block') == $(e.target.parentNode).attr('data-block')){
                                $(this).show();
                            }
                        });
                    }
                    
                })
            },

            initDeleteBtn: function() {
                var self = this;
                $(document).on('click', '.pdd-certificate-delete', function() {
                    self.deployPopup('?plugin=pdd&module=dialog&action=delete', {file_id: $(this).attr('data-id'), type:'certificates'});
                    
                });
            },

            initCatalogsTable: function() {
                
				var self = this;
                
                this.catalogsTable = this.catalogsTableContainer.dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": self.catalogsTableUrl+'&hash='+encodeURIComponent(self.product_id),
                    "order": [],
                    columnDefs: [{orderable: false, targets: '_all'}],
                    "language":{
                        "sLengthMenu": "Показывать _MENU_ записей",
                        "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
                        "sInfo": "Отображаются записи с _START_ до _END_ из _TOTAL_",
                        "sInfoEmpty": "Отображаются записи с 0 до 0 из 0",
                        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                        "sSearch": "Поиск:",
                        "processing": "Обработка...",
                        "oPaginate": { "sNext": ">>", "sPrevious": "<<" }
                    },
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "lengthChange": false,
                });

                this.catalogsTable.on('draw.dt', function () {

                    var deleteIcon = $(self.iconCatalogsDeleteClass);
                    deleteIcon.on('click', function() {
                        self.deployPopup('?plugin=pdd&module=dialog&action=delete', {file_id: $(this).attr('data-id'), type:'catalogs'});
                    });

                    var editIcon = $(self.iconCatalogsEditClass);
                    editIcon.on('click', function() {
                        self.deployPopup('?plugin=pdd&module=dialog&action=edit', {file_id: $(this).attr('data-id'), type:'catalogs'});
                    });

                });
                
			},

            initPricesTable: function() {
                
				var self = this;
                
                this.pricesTable = this.pricesTableContainer.dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": self.pricesTableUrl+'&hash='+encodeURIComponent(self.product_id),
                    "order": [],

                    columnDefs: [{orderable: false, targets: '_all'}],
                    "language":{
                        "sLengthMenu": "Показывать _MENU_ записей",
                        "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
                        "sInfo": "Отображаются записи с _START_ до _END_ из _TOTAL_",
                        "sInfoEmpty": "Отображаются записи с 0 до 0 из 0",
                        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                        "sSearch": "Поиск:",
                        "processing": "Обработка...",
                        "oPaginate": { "sNext": ">>", "sPrevious": "<<" }
                    },
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "lengthChange": false,
                    
                });

                this.pricesTable.on('draw.dt', function () {
                    var deletePricesIcon = $(self.iconPricesDeleteClass);
                    deletePricesIcon.on('click', function() {
                        self.deployPopup('?plugin=pdd&module=dialog&action=delete', {file_id: $(this).attr('data-id'), type:'prices'});
                    });

                    var editPricesIcon = $(self.iconPricesEditClass);
                    editPricesIcon.on('click', function() {
                        self.deployPopup('?plugin=pdd&module=dialog&action=edit', {file_id: $(this).attr('data-id'), type:'prices'});
                    });
                });
                
			},

            
            
            initPhotoContainer() {
                var self = this;
                var photoContainer = $('#photo-container');
                photoContainer.empty();
                $.post('?plugin=pdd&module=Certificates&action=List'+'&hash='+encodeURIComponent(self.product_id), function(jData) {
                    jData.data.forEach(function(file) {
                        var photoItem = $(`
                                <div class="pdd-certificate-item" id="${file.id}">
                                    <div class="pdd-certificate-photo" style="background-image: url(${file.thumb_url});"></div>
                                    <input type="text" class="pdd-certificate-name" value="${file.name}" placeholder="Введите имя">
                                    <textarea class="pdd-certificate-text" placeholder="Введите текст">${file.text || ""}</textarea>
                                    <div class="pdd-certificate-bnts">
                                        <i class="icon16 delete pdd-certificate-delete" title="Удалить" data-id="${file.id}" data-name="${file.name}"></i>
                                        <a href="${file.download_url}">
                                            <i class="icon16 download pdd-certificate-download" title="Скачать" data-id="${file.id}"></i>
                                        </a>
                                        <button class="pdd-certificate-update" style="display: none;" data-name="${file.name}" data-id="${file.id}">Сохранить</button>
                                    </div>
                                </div>
                        `);

                        photoContainer.append(photoItem);

                        
                        photoItem.find('.pdd-certificate-name').on('input', function() {
                            photoItem.find('.pdd-certificate-update').show();
                        });

                       
                        photoItem.find('.pdd-certificate-text').on('input', function() {
                            photoItem.find('.pdd-certificate-update').show();
                        });

                        
                        photoItem.find('.pdd-certificate-update').on('click', function() {
                            var data = {
                                file_id: $(this).data('id'),
                                new_name: photoItem.find('.pdd-certificate-name').val(),
                                new_text: photoItem.find('.pdd-certificate-text').val(),
                            }

                            $.post('?plugin=pdd&module=certificate&action=update', data, function(jData) {
                                if(jData.data[0].result == '1'){
                                    photoItem.find('.pdd-certificate-update').hide();
                                } else {
                                    console.error('Ошибка сохранения:', jData.data[0].message);
                                }
                            });
                        });
                    });
                });

                photoContainer.sortable({
                    update: function() {
                        self.updateSort();
                    }
                }).disableSelection();

                
            },

            updateSort: function() {
                const ids =`ids=${$('#photo-container').sortable("toArray").join(',')}`;
                
                $.ajax({
                    method: 'post',
                    url: '?plugin=pdd&module=certificate&action=sort',
                    data: ids,
                    success: function(jData) {
                        console.log(jData)
                    }
                }, 'json')
            },

            hidePopup: function() {
                this.popup.bPopup().close();
            },

            deployPopup: function(url, data) {
                var self = this;
                $.post(url, data, function(html) {
                    self.popup.html(html).bPopup({
                        speed: 300,
                        transition: 'slideDown'
                    });
                });
            },
            
            setActiveBlock: function(url) {
                this.menu.find('li').removeClass('selected');
                this.menu.find(`a[href='${url}']`).parent().addClass('selected');
            },
            
            escapeHtml: function(string) {
                return $("<div />").text(string).html();
            },

            isValidFilename: function(filename) {
                return /^[^/?*.:;{}\\]+$/.test(filename);
            },
            
        }
    })(jQuery);
    $(document).ready(function() {
        $.pddProduct.init();
    })

</script>
{/literal}
